

.svg-github-dims { width: 64px; height: 64px; }
.svg-goTop-dims { width: 64px; height: 64px; }
.svg-tel-dims { width: 64px; height: 64px; }
.svg-telegram-dims { width: 64px; height: 64px; }
.svg-vk-dims { width: 24px; height: 24px; }