@import "@/app/vars";

.footer {
    padding: 50px 0 30px;
    background: $main-color;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navList {
        display: flex;
        color: #fff;
    }

    &__navItem {
        padding: 0 20px;
        transition: all .3s ease-in;
        &:hover {
            transform: scale(1.1);
        }
    }

    &__navLink {
        transition: all .3s ease-in;
        &:hover {
            color: $accent-color;

        }
    }

    &__socials {
        display: flex;
    }

    &__social {
        padding: 0 20px;
    }

    &__link {
    }
}
.go-top {
    &__btn {
    }
}

@media (max-width: 768px) {
    .footer__inner {
        flex-wrap: wrap;
        gap: 30px;
    }
    .footer__navItem {
        padding: 0 10px;
    }
    .footer__social {
        padding: 0 10px;
    }
    .svg-socials {
        width: 36px;
        height: 36px;
    }
}
@media (max-width: 580px) {
    .footer__navList {
        flex-basis: 100%;
    }
}